/* style.css */

#main-header {
    background-color: #f16af5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    border-bottom: 5px solid #000000;
    padding: 20px;
    border-radius: 15px;
}

h1, h2, h3 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(0, 208, 255);
}

.highlight {
    background-color: rgb(250, 209, 255);
    font-weight: bold;
    border-left: 4px solid #000000;

}

.makebold {
    font-weight: bold;
}

.inquiries {
 background-color: #f16af5;
    font-family:cursive;
    color: white;
    text-align: center;

}

.fontsize {
    font-size:x-small;
}

.fontsizee {
    font-size:smaller;
}

.center {
    text-align: center;
}

table {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid rgb(252, 121, 234);
}
