/* style.css */

#main-header {
    background-color: #f16af5;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    border-bottom: 5px solid #000000;
}

h1, h2, h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: rgb(0, 208, 255);
}

.highlight {
    background-color: rgb(250, 209, 255);
    font-weight: bold;
    border-left: 4px solid #000000;

}

.makebold {
    font-weight: bold;
}

.inquiries {
 background-color: #f16af5;
    font-family:cursive;
    color: white;
    text-align: center;

}



