body {
    background-color: rgb(213, 244, 250);
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    color: rgb(255, 165, 225);
}

h1 {
    background-color: rgb(49, 212, 253);
    color:rgb(255, 194, 247);
    padding: 20px;
    border-radius: 15px;
    text-align:center;
}

table {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid rgb(252, 121, 234);
}

th, td {
    border: 1px solid rgb(252, 121, 234);
    padding: 12px;
    text-align: left;
    border-collapse: collapse;
}

th {
    background-color: rgb(252, 121, 234);

}

a {
    color: rgb(252, 121, 234);
    text-decoration: dotted;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}